/*styles for search button*/
#searchbtn{
    bottom:9px;
    float:right;
    transform: translate(560px,-35px);
    width:20%;
}
#searchbtn:hover{
    border-color:blueviolet;
}
/*styles for input field*/
input{
    width:30%;
    transform:translate(90%,30%);
    height:2em;
    outline:none;
}
/*styles for comment text*/
.cmnts{
   font-size:30px;
   font-family:serif;
   font-style: normal;
   padding:7px;
   margin:12px;
}
#nametext{
    width:40%;
    height: 2em;
    outline: none;
    transform:translate(10%,-30%);
    padding-top: 20px;
    margin-top: 0.1em;
    border-color:#c5c3c3;
    border-style: none none solid none; 
}
/*styles for text area where we write comments*/
textarea{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    transform:translate(40%,-220%);
    width:40%;
    float:right;
    border-color:#c5c3c3;
    outline: none;
    margin-left: 9.5rem;
    border-style: none none solid none; 
}



/*styles for comment button*/
#commentbtn{
    display:inline;
    margin:30px;
    padding:2px;
    transform:translate(350%,120%);
    width:12%;
    background-color:white;
    outline:none;
}
#commentbtn:hover {
    border-color:blueviolet;
 }
/*styles for cancel button*/
#cancelbtn{
    float:right;
    position: relative;;
    bottom:8.5px;
    padding:2px;
    transform:translate(607%,-70%);
    width:12%;
    background-color:white;
    outline:none;
}
#cancelbtn:hover{
     border-color: blueviolet;
}
/*styles for video item*/
#title1{
    width:160px; 
    float:left; 
    left:200%;
    overflow:hidden; 
    word-wrap:normal;
    font-size:15px;
    transform: translate(20%);
}
.fav{
    transform: translate(125%,-90%);
}
/*styles for heading tag which shows no videos found*/
h1{
    margin:190px;
    float:right;
    right:80px;
    transform:translate(110%,80%);
   
}
